.venv
.git
.idea
.worktrees
.tmp
/.env
deploy/production/app.env
runtime
cookies
cookiesFile
db/database.db
logs
screenshot
uploadFile
videoFile
**/__pycache__
**/*.pyc
sau_frontend/dist
sau_frontend/node_modules
